#!/bin/sh

if [ "$(id -n -u)" = "<%= @postgresql_user %>" ] ; then
  privilege_drop=''
else
  privilege_drop="-u <%= @postgresql_user %>"
fi

cd /tmp; exec chpst ${privilege_drop} -U <%= @postgresql_user %> psql -p <%= @port %> -h <%= @host %> -U <%= @superuser %> -d <%= @db_name %> "$@"
